@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-button-next,
.swiper-button-prev {
  width: 30px;
  height: 30px;
  border-radius: 9999px;
  transition: all 0.3s ease;
  color: #fff; /* cyan-400 */
}

.swiper-button-next:hover::after,
.swiper-button-prev:hover::after {
  font-size: 26px;
}

.swiper-pagination {
  bottom: 12px !important;
}

.swiper-pagination-bullet {
  width: 5px;
  height: 5px;
  background: rgba(255, 255, 255, 0.5);
  opacity: 1;
  transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
  background: #fff;
  transform: scale(1.4);
}
